{% extends "::base.html.twig" %}

{% block title %} {{ parent() }} AppBundle:calculator:add{% endblock %}

{% block body %}
<h1>Welcome to the calculator:add page</h1>
    {{ n1 }} plus {{ n2 }} est égat à {{ result }}

    {{ dump(cltr) }}

    {{ yesterday |date('d/m/Y') }}

    <ul>
        {% for item in list |sort| slice(0,3) %}
            <li>
                {{ item }}
            </li>
            {% else %}
            <li> Pas d'elements dans le tableau liste</li>
        {% endfor %}
    </ul>


        {% for x in 1..20 if x %2==1 %}
                {{ x }}
        {% endfor %}



    <table class="table table-responsive">
        <thead >
            {% for colName in clients[0]  | keys %}
                    <th >{{ colName }}</th>
            {% endfor %}

        </thead>
        <tbody >
        {% for client in clients %}
            <tr>
                {% for colName in client | keys %}
                    <td> {{ client[colName] }}</td>
                {% endfor %}
            </tr>

        {% endfor %}

        </tbody>

    </table>



{% endblock %}
